[user]
	name = Kim Burgess
	email = kim@acaprojects.com
[core]
	editor = vim
[alias]
	graph = log --graph --oneline --decorate
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
