# dotfiles management (https://news.ycombinator.com/item?id=11070798)
alias dotfiles="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# make ls a little nicer for humans
alias ls="ls -h --color=auto"

# base file operations
alias mv="mv -v"
alias rm="rm -i -v" # protect against stupid shit
alias cp="cp -v"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

# always enable coloured grep output
alias grep="grep --color=auto"
alias fgrep="grep --color=auto"
alias egrep="grep --color=auto"
